# Live API & Socket URLs
NEXT_PUBLIC_API_URL=https://chat-application-751k.onrender.com/api
NEXT_PUBLIC_SOCKET_URL=https://chat-application-751k.onrender.com

# Google OAuth 2.0 Web Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Optional direct client TURN credentials
NEXT_PUBLIC_METERED_APP_NAME=your_metered_app_name
NEXT_PUBLIC_METERED_API_KEY=your_metered_api_key

