PORT=5000
CLIENT_URL=https://client-kohl-six-37.vercel.app
JWT_SECRET=supersecret_jwt_key_chat_app_2026_production
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/Chat_Application?retryWrites=true&w=majority
NODE_ENV=production
